/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*header {
    height: 100%;
    background: linear-gradient(90deg, #121A2D 50%, #ffffff 50%);
}*/
html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100%;
}
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.swiper-container-vertical>.swiper-pagination-bullets{
    right: 30px;
}
.page__pagination{
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    flex-direction: column;
}
.page__pagination.free{
    display: none;
}
.page__bullet{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}
.page__bullet_active{
    transform: scale(1.2);
    background-color: #c06524;
}
.page__scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.page__drag-scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
/*--------------------------*/
.screen {
    flex: 1 0 100%;
    position: relative;
}
/*--------*/
.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header__burger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 40px;
    height: 28px;
    z-index: 3;
}
.header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 13px;
}
.header__burger:before,
.header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.header__burger:before{
    top: 0;
}
.header__burger:after{
    bottom: 0;
}
.header__closed {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    position: relative;
    width: 40px;
    height: 28px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.header__closed:before,
.header__closed:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.header__closed:before{
    transform: rotate(45deg);
    top: 13px;
}
.header__closed:after{
    transform: rotate(-45deg);
    bottom: 13px;
}
.header__closed.active{
    opacity: 1;
    visibility: visible;
}
.header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.5s ease 0s;
    background-color: black;
    padding: 80px 10px 20px 80px;
    z-index: 2;
}
.header__menu.active {
    top: 0;
}
body.lock{
    overflow: hidden;
}
.header__list {
    display: block;
}
.header__list li {
    margin: 0px 0px 20px 0px;
}
.header__link {
    font-size: 24px;
    color: white;
}
.header__logo{
    cursor: pointer;
    font-size: 37px;
    padding-left: 80px;
}
.header__logo span:first-child{
    color: white;
}
.header__tel span{
    color: black;
}

/*--------*/

.first{
    height: 100%;
    background: linear-gradient(90deg, #121A2D 50%, #ffffff 50%);
}
.first__container{
    background-image: url(../img/Clip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.first__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    width: 40%;
    color: white;
}
.first__title{
    font-size: 89px;
    margin-bottom: 20px;
}
.first__desc{
    margin-bottom: 70px;
    line-height: 20px;
}
.first__button{
    font-size: 16px;
    line-height: 20px;
    padding: 20px 70px 20px 0px ;
    position: relative;
    color: white;
    width: 60%;
    margin-bottom: 60px;
    background: linear-gradient(to left, #FDC830, #F37335,#FDC830);
    background-size: 200%;
    border-radius: 10px;
    transition: 0.3s;
}
.first__button:hover, :focus{
    background-position: right;
}
.first__button::before{
    content: '';
    position: absolute;
    top: 47%;
    right: 18%;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid white;
}
.first__button::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 20%;
    width: 50px;
    height: 2px;
    background-color: white;
}
.first__social{
    margin-top: 25px;
}
.social__item{
    color: white;
    font-size: 16px;
    margin-right: 34px;
}

/*Tabs*/
.work__container{
    height: 100%;
    width: 100%;
}
.work__title{
    padding-top: 65px;
    font-size: 52px;
    line-height: 88px;
    margin-bottom: 40px;
}
.work__tabs{
    position: relative;
}
.work__input{
    display: none;
}
.tab-content{
    position: absolute;
    display: none;
    height: 100%;
    top: 0;
    right: 0;
    width: 70%;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    58% {
        transform: scale(1.005);
        opacity: 0.5;
    }
    58% {
        transform: scale(1);
        opacity: 1;
    }
}
.tab{
    display: block;
    padding: 0 0 120px;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    transition: 0.5s;
}
.tab:hover{
    color: rgb(82, 80, 80);
}
.tab-5{
    padding: 0;
}
.work__input:checked + .tab{
    transform: translateX(50px);
}

#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4,
#tab-5:checked ~ #content-5{
    display: block;
}
.tab__img{
    margin-bottom: 40px;
}
.tab__img img{
    max-width: 100%;
}
.tab__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.tab__text *{
    margin-bottom: 40px;
}
.tab__text h3{
    font-size: 28px;
    line-height: 32px;
    width: 50%;
}
.tab__text-number{
    text-align: end;
    width: 50%;
}
.tab__text-desc{
   width: 60%;
   line-height: 20px;
}
.tab__button{
    vertical-align: bottom;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 80px;
    background: linear-gradient(to left, #FDC830, #F37335,#FDC830);
    background-size: 200%;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
}
.tab__button:hover, :focus{
    background-position: right;
}

/*----------*/

.advant{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 750px;
    width: 100%;
}
.advant__text{
    width: 290px;
}
.text-bottom{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.advant__text h2{
    font-size: 60px;
    line-height: 88px;
    margin-bottom: 10px;
}
.advant__subtitle{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    width: 60%;
}
.advant__desc{
    font-size: 14px;
    line-height: 20px;
}

/*Portfolio*/
.portfolio__title{
    padding-top: 80px;
    font-size: 52px;
    line-height: 88px;
    margin-bottom: 36px;
}
.portfolio__tabs{
    position: relative;
}
.portfolio__input{
    display: none;
}
.portfolio__tab{
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s;
    opacity: 0.5;
    margin-right: 60px;
    position: relative;
}
.portfolio__tab::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s;
}
.portfolio__tab:hover::after{
    width: 100%;
    transition: width .3s;
}
.portfolio__tab:hover{
    opacity: 1;
}
.prt__tab-content{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 100px;
    right: 0;
    animation: scale 0.7s ease-in-out;
}
.portfolio__input:checked + .portfolio__tab{
    opacity: 1;
}

#prt_tab-1:checked ~ #prt__content-1,
#prt_tab-2:checked ~ #prt__content-2,
#prt_tab-3:checked ~ #prt__content-3{
    display: block;
}
.prt__tab__img{
    display: flex;
    flex-wrap: wrap;
    min-height: 540px;
}
.prt__img{
    position: relative;
    flex-basis: 272px;
    overflow: hidden;
}
.prt-2{
    flex-grow: 1;
}
.prt__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.prt__img-desc{
    position: absolute;
    padding: 25px 0 0 25px;
    top: -100%;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background-color: #121a2d9d;
    transition: 0.5s;
}
.prt__img:hover .prt__img-desc{
    top: 0;
    opacity: 1;
}

/*question*/

.question{
    padding-top: 160px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: #121A2D;
    position: relative;
}
.question__container{
    color: white;
    width: 43%;
}
.question__title{
    font-size: 52px;
    line-height: 46px;
    margin-bottom: 30px;
}
.question__desc{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}
.question__form{
    display: flex;
    flex-direction: column;
}
.question__form-field{
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border-bottom: 1px solid #707070;
    padding-bottom: 8px;
    color: white;
    margin-bottom: 50px;
}
.question__form-field::placeholder{
    color: white;
    font-style: italic;
    font-weight: 300;
}
.question__form-btn{
    padding: 23px 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    background: linear-gradient(to left, #FDC830, #F37335,#FDC830);
    background-size: 200%;
    border-radius: 10px;
    transition: 0.3s;
}
.question__form-btn:hover, :focus{
    background-position: right;
}
.question__desc-bottom{
    font-size: 16px;
    line-height: 20px;
}
.question__img{
    position: absolute;
    top: 10%;
    right: 0;
    width: 50%;
    height: 100%;
}
.question__img img{
    max-width: 100%;
    max-height: 100%;
}

/*reviews*/

.reviews{
    height: 70%;
    background-color: #F9F9F9;
    position: relative;
}
.reviews__title{
    padding-top: 70px;
    font-size: 60px;
    line-height: 88px;
}
.reviews__slider {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
}
.reviews__slider-screen{
    position: relative;
    width: 800px;
    min-height: 250px;
    transition: transform 0.3s;
    background-color: white;
}
.reviews__slide-active{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.reviews__cart{
    display: flex;
    padding: 20px;
}
.reviews__img img{

}
.reviews__text{
    margin-right: 20px;
}
.rviews__title-slider{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.rviews__desc-slider{
    line-height: 20px;
}
.reviews__pagination{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(40%, 0px);
    display: flex;
}
.reviews__bullet{
    width: 50px;
    height: 4px;
    cursor: pointer;
    background-color: #E5E1E1;
    margin: 0 10px;
    transition: background-color 0.3s ease 0s;
}
.reviews__bullet_active{
    background-color: #121A2D;
}

/*FOOOTEEEEEER*/

.footer{
    background-color: #121A2D;
    height: 30%;
}
.footer__container{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}
.footer__logo{
    cursor: pointer;
    font-size: 37px;
}
.footer__logo span:first-child{
    color: white;
}
.footer__tel span{
    color: white;
    font-size: 16px;
    line-height: 40px;
}

@media (max-width: 1400px){
    .first__title{
        padding-top: 100px;
        font-size: calc(48px + (89 - 48) * ((100vw - 320px) / (1400 - 320)));
    }
    .work__title{
        padding-top: 30px;
        font-size: 40px;
        line-height: 52px;
    }
    .tab{
        padding: 0 0 90px;
        font-size: 18px;
    }
    .tab-content{
        width: 60%;
    }
    .tab__img{
        margin-bottom: 20px;
    }
    .tab__text *{
        margin-bottom: 15px;
    }
    .tab__text h3{
        font-size: 24px;
        line-height: 28px;
    }
    .advant{
        padding: 50px 0;
        align-items: flex-start;
        min-height: 600px;
    }
    .portfolio__title{
        padding-top: 30px;
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 30px;
    }
    .prt__tab-content{
        top: 50px;
    }
    .prt__tab__img{
        min-height: 450px;
    }
    .question{
        padding-top: 30px;
    }
    .question__title{
        font-size: 52px;
        line-height: 46px;
    }
    .question__img{
        top: 0;
    }
    .reviews__title{
        padding-top: 30px;
        font-size: 52px;
        line-height: 140%;
    }
    .reviews__slider {
        top: 35%;
    }
    .reviews__slider-screen{
        width: 700px;
        min-height: 200px;
    }
    .reviews__img img{
        width: 200px;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 1000px;
    }
    .tab-content{
        width: 70%;
    }
    .advant{
        flex-wrap: nowrap;
        margin: 100px 0;
    }
    .prt__tab__img{
        flex-wrap: nowrap;
    }
    .question__img {
        top: 5%;
    }
}
/*iPad Pro */
@media (min-height: 800px){
    .work__title{
        padding-top: 130px;
    }
    .tab-content{
        width: 75%;
    }
    .advant{
        padding: 0;
    }
    .portfolio__title{
        padding-top: 90px;
        margin-bottom: 40px;
    }
    .prt__tab-content{
        top: 100px;
    }
    .prt__tab__img{
        min-height: 540px;
    }
    .question{
        padding-top: 130px;
    }
    .question__img{
        top: 10%;
    }
}
@media (max-width: 1025px){
    .container{
        max-width: 800px;
    }
}
@media (max-width: 800px){
    .container{
        max-width: 600px;
    }
    .first__content{
        margin-left: 20px;
    }
    .first__button{
        width: 100%;
    }
    .work__input:checked + .tab {
        transform: translateX(20px);
    }
    .tab__text{
        display: block;
    }
    .tab__text h3 {
        width: 100%;
    }
    .tab__text-number{
        width: 100%;
        text-align: start;
    }
    .tab__text-desc{
        width: 100%;
    }
    .tab__button{
        width: 100%;
    }
    .tab__text *{
        margin-bottom: 40px;
    }
    .advant{
        display: block;
        padding: 50px 0;
    }
    .advant__text{
        width: 100%;
    }
    .prt__tab__img{
        flex-wrap: wrap;
    }
    .prt__img img{
        object-fit: cover;
    }
    .prt-2 {
        flex-grow: 0;
    }
    .question__container{
        width: 100%;
    }
    .question__img{
        display: none;
    }
    .reviews__slider {
        top: 42%;
    }
    .reviews__slider-screen{
        width: 500px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        left: -8%;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 310px;
    }
    .header__logo{
        padding-left: 52px;
    }
    .header__tel span{
        font-size: 10px;
    }
    .first__content{
        margin-left: 20px;
        width: 100%;
    }
    .first__button{
        width: 80%;
    }
    .first__social{
        margin-top: 20px;
    }
    .page__pagination{
        display: none;
    }
    .page__scroll{
        width: 2px;
    }
    .work__title{
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .work__input:checked + .tab {
        transform: translateX(0);
    }
    .tab {
        padding: 0 0 40px;
        font-size: 13px;
    }
    .tab__text *{
        margin-bottom: 10px;
    }
    .tab__img{
        margin-bottom: 10px;
    }
    .tab__text-desc{
        font-size: 12px;
        line-height: 16px;
    }
    .tab__button{
        padding: 10px 10px;
    }
    .advant{
        padding: 0;
        margin: 0;
    }
    .advant__text h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }
    .advant__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0px;
        width: 100%;
    }
    .advant__desc {
        font-size: 12px;
        line-height: 16px;
    }
    .portfolio__title{
        padding-top: 10px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .portfolio__tab{
        font-size: 12px;
        line-height: 16px;
        margin-right: 0;
    }
    .question{
        padding-top: 20px;
    }
    .question__title{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .question__desc{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    .question__form-field{
        margin-bottom: 20px;
    }
    .question__desc-bottom{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    .reviews{
        height: 85%;
    }
    .reviews__title{
        padding-top: 10px;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .reviews__slider {
        top: 20%;
    }
    .reviews__slider-screen {
        width: 260px;
    }
    .reviews__cart{
        display: block;
        padding-right: 0;
    }
    .rviews__title-slider {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .rviews__desc-slider{
        font-size: 12px;
        line-height: 16px;
    }
    .reviews__pagination {
        top: 110%;
        left: 50%;
        transform: translate(40%, 0px);
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        left: -33%;
    }
    .footer{
        height: 15%;
    }
    .footer__container {
        padding-top: 30px;
        min-height: 0;
        flex-wrap: nowrap;
    }
    .footer__tel span {
        font-size: 10px;
        line-height: 16px;
    }
    .social__item {
        font-size: 15px;
        margin-right: 10px;
    }
}